html {
	overflow: auto;
}

.MainContainer {
	position: absolute;
	overflow: auto;
	height: 100%;
}

@media screen and (min-width:766px){
    .MainContainer {
    background: url("../../images/opaque-inverted-blueprint.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    }
}

@media screen and (max-width:765px){
    .MainContainer {
    	background: none;
    }
}

@media screen and (min-width:1800px){
    .MainContainer {
    	background: none;
	    background: url("../../images/opaque-inverted-blueprint.jpg") no-repeat center center fixed;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	    height: 100%;
	
    }
}
