.CTAbuttons {
	position: absolute;
    right: 60px;
    top: 20px;
}

li {
	list-style: none;
	display: inline;
	border-style: solid;
	padding: 5px;
	background-color: black;
	color: white;
	border-color: black;
}

li:hover {
	color: black;
	background-color:rgb(247, 175, 65);
	border-color: rgb(247, 175, 65);
	font-style: bold;
}

ul {
	font-style: bold;
	font-family: 'Play', sans-serif;
}

#Cta1 {
	margin-right: 10px;
}

@media screen and (max-width:1000px){
    .CTAbuttons {
       position: absolute;
       left: 5px;
       top: 225px;
   }

   li {
       display: list-item;
       text-align: center;
       width: 40%;
   }

   #Cta1 {
       margin-bottom: 10px;
   }

   ul {
       position: absolute;
       left: 125px;
       width: 70%;
   }

}

@media screen and (max-width:765px){
    .CTAbuttons {
		/*margin: auto;*/
		width: 100%;
		position: absolute;
    }

    li {
		list-style: none;
		border-style: solid;
		padding: 5px;
		margin: auto;
		width: 50%;
		display: list-item;
		text-align: center;
		margin-top: 10px;
    }

    #Cta1 {
        margin: none;
        margin-right: 0px;
        display: inline-block;
    }

    .UserButtons {
        text-align: center;
    }
}