@media screen and (min-width:1800px){
    .MainContainer {
    	background: none;
	    background: url("../../images/opaque-inverted-blueprint.jpg") no-repeat center center fixed;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	    height: 100%;
	
    }
}

@media screen and (max-width:1000px){
    .TopContentBox {
    	width: 65%;
    }


    .InnerContainer {
        width: 100%;
        float: left;
        position: relative;
    }

    .BottomContentBox {
        width: 100%;
        margin: auto;
        position: relative;
    }

    .Routes {
	    position: absolute;
	    left: 300px;
	    top: 200px;
	    display: flex;
	    justify-content: space-between;
	    width: 25%;
	    margin-bottom: 20px;
    }

    .CTAbuttons {
	 	position: absolute;
    	left: 5px;
    	top: 225px;
    }

    li {
    	display: list-item;
    	text-align: center;
    	width: 40%;
    }

    #Cta1 {
    	margin-bottom: 10px;
    }

    ul {
	    position: absolute;
	    left: 250px;
        width: 70%;
        top: 50px;
    }

}
